
<div class="container">
  <app-monitor-card [cardData]="structureDescription" ></app-monitor-card>
  <app-monitor-card [cardData]="systemDescription"></app-monitor-card>
  <app-monitor-card [cardData]="nonCriticalError" ></app-monitor-card>
  <app-monitor-card [cardData]="criticalError"></app-monitor-card>
</div>
<div class="container">
  <app-vent-card></app-vent-card>
  <app-itp-card></app-itp-card>
</div>
<div class="table-title">
  <h1>Последние событие в системе</h1>
</div>
<app-last-event-table></app-last-event-table>
