<div class="event-container mat-elevation-z8">
  <div class="event-loading-shade"
       *ngIf="isLoadingResults">
    <mat-spinner></mat-spinner>
  </div>
  <div class="event-table-container">
  <table mat-table [dataSource]="dataSource">

    <ng-container matColumnDef="id">
      <th mat-header-cell *matHeaderCellDef>ID</th>
      <td mat-cell *matCellDef="let row">{{row.id}}</td>
    </ng-container>

    <ng-container matColumnDef="Дата и время">
      <th mat-header-cell *matHeaderCellDef>Дата и время</th>
      <td mat-cell *matCellDef="let row">{{row.dateTime}}</td>
    </ng-container>
    <ng-container matColumnDef="Наименование установки">
      <th mat-header-cell *matHeaderCellDef>Наименование установки</th>
      <td mat-cell *matCellDef="let row">{{row.nameEquipment}}</td>
    </ng-container>

    <ng-container matColumnDef="Событие">
      <th mat-header-cell *matHeaderCellDef>Событие</th>
      <td mat-cell *matCellDef="let row">{{row.message}}</td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>
  </div>
</div>
